/* Estilos para dispositivos móveis */
@media (max-width: 576px) {
    /* Diminuir tamanho do título do card de bolsista */
    .card-title {
      font-size: 1rem;
    }
    /* Diminuir tamanho do texto do card de bolsista */
    .card-text {
      font-size: 0.9rem;
    }
    /* Adicionar margem aos cards de bolsistas */
    .col-md-4 {
      margin-bottom: 20px;
    }
  }
  
  /* Estilos para tablets */
  @media (max-width: 768px) {
    /* Diminuir tamanho do título do card de bolsista */
    .card-title {
      font-size: 1.2rem;
    }
    /* Diminuir tamanho do texto do card de bolsista */
    .card-text {
      font-size: 1rem;
    }
    /* Adicionar margem aos cards de bolsistas */
    .col-md-4 {
      margin-bottom: 30px;
    }
  }
  