.card{
    background-color: transparent;
}
/* Estilos para dispositivos móveis */
@media (max-width: 576px) {
    .card{
        margin: 20px;
    }
    .card-title {
      font-size: 0.9rem;
    }
   
    .card-text {
      font-size: 0.8rem;
    }
    
    .col-md-4 {
      margin-bottom: 25px;
    }
    p{
        font-size: 0.9rem;
    }
  }
  
  /* Estilos para tablets */
  @media (max-width: 768px) {
    .card{
        margin: 30px;
    }
    .card-title {
      font-size: 1rem;
    }
   
    .card-text {
      font-size: 0.9rem;
    }
    
    .col-md-4 {
      margin-bottom: 30px;
    }
    p{
        font-size: 0.9rem;
    }
  }
  
